<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
<session-factory>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="show_sql">true</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tran?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
   <!-- ตารางที่สร้างในฐานข้อมูล -->

    <mapping class="model.customers" /> 
    <mapping class="model.employee" /> 
    <mapping class="model.order" /> 
    <mapping class="model.orderdetail" /> 
    <mapping class="model.orderemployeedetail" /> 
    <mapping class="model.product" /> 
    <mapping class="model.customerdetailorder" /> 
    <mapping class="model.company" /> 

    
    
  
    
</session-factory>
</hibernate-configuration>